In [46]:
# The purpose of this file is to transform the existing data CSV files into a format that will be usable for 
# analytics and Generative AI
import pandas as pd

In [47]:
# Load FY22 data file and remove all records with a status of "Deleted"
data_file = pd.read_csv('./dsa-airflow/data/FY22Goals.csv', header=0, encoding = 'latin-1')

FY22_df= pd.DataFrame(data_file)

display(FY22_df.head(5))

,Goal ID,Goals,Status,Active/Deleted
0,332816,Support achievement of zero engineering emplo...,Completed,Active
1,332818,Respond to emergencies with engineering suppo...,Completed,Active
2,332819,Achieve core budget spend plan within +/ 10% ...,Completed,Active
3,332668,Maintain 90% response and closure rate on Cust...,Not Started,Deleted
4,332669,Complete capital projects on time and within o...,Not Started,Deleted

In [48]:
records_to_remove = ['Deleted']
FY22_df2 = FY22_df[~FY22_df['Active/Deleted'].isin(records_to_remove)]

display(FY22_df2.head(5))

,Goal ID,Goals,Status,Active/Deleted
0,332816,Support achievement of zero engineering emplo...,Completed,Active
1,332818,Respond to emergencies with engineering suppo...,Completed,Active
2,332819,Achieve core budget spend plan within +/ 10% ...,Completed,Active
6,333060,Obtain spending within 10% of monthly forecast,On Track,Active
7,333061,Complete capital projects within 10% of availa...,On Track,Active

In [49]:
# drop the Status and Active/Deleted Column
FY22_df2.drop(columns=['Status','Active/Deleted'],inplace=True)

display(FY22_df2.head(10))

/tmp/ipykernel_41186/772463946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FY22_df2.drop(columns=['Status','Active/Deleted'],inplace=True)

    Goal ID                                              Goals
0    332816   Support achievement of zero engineering emplo...
1    332818   Respond to emergencies with engineering suppo...
2    332819   Achieve core budget spend plan within +/ 10% ...
6    333060     Obtain spending within 10% of monthly forecast
7    333061  Complete capital projects within 10% of availa...
8    333062           Maintain and improve Customer CSI scores
9    344436  I've been working with Adriane from Procuremen...
10   344437  To continue enforcing passengers to visually s...
11   344438  We conduct monthly budget by reviewing with va...
12   330673  Streamline the customer contact with call cent...

In [56]:
#Add a FY column
FY22_df2["FY"]=[22]
display(FY22_df2.head(5))

ValueError: Length of values (1) does not match length of index (8737)

In [50]:

# Load FY23 data file and remove all records with a status of "Deleted"
data_file23 = pd.read_csv('./dsa-airflow/data/FY23Goals.csv', header=0, encoding = 'latin-1')

FY23_df= pd.DataFrame(data_file23)

display(FY23_df.head(5))

,Goal ID,Goals,Status,Active/Deleted
0,358431,I will start the process of working on updatin...,Completed,Active
1,358433,To continue enforcing passengers to visually s...,Completed,Active
2,358434,In order to keep a smooth operations financial...,Completed,Active
3,359649,TDR\nCore Spend\nCapital Project,On Track,Deleted
4,359658,Support achievement of zero engineering emplo...,Completed,Active

In [51]:
records_to_remove = ['Deleted']
FY23_df2 = FY23_df[~FY23_df['Active/Deleted'].isin(records_to_remove)]

display(FY23_df2.head(5))

,Goal ID,Goals,Status,Active/Deleted
0,358431,I will start the process of working on updatin...,Completed,Active
1,358433,To continue enforcing passengers to visually s...,Completed,Active
2,358434,In order to keep a smooth operations financial...,Completed,Active
4,359658,Support achievement of zero engineering emplo...,Completed,Active
5,359660,Monitor FTEs and Operating and Maintenance ...,Completed,Active

In [52]:
# drop the Status and Active/Deleted Column
FY23_df2.drop(columns=['Status','Active/Deleted'],inplace=True)

display(FY23_df2.head(10))

/tmp/ipykernel_41186/3470711694.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FY23_df2.drop(columns=['Status','Active/Deleted'],inplace=True)

    Goal ID                                              Goals
0    358431  I will start the process of working on updatin...
1    358433  To continue enforcing passengers to visually s...
2    358434  In order to keep a smooth operations financial...
4    359658   Support achievement of zero engineering emplo...
5    359660    Monitor FTEs and Operating and Maintenance ...
6    359666   Improve OTP and reduce minutes of delay by qu...
7    362997    Continue working to Improve my leadership skill
8    363370           Manage capital budget to stay within 10%
9    363375  Work on improving Team presentation to team me...
10   358419  Review weekly VOC surveys and transfer reports...

In [54]:
# Load FY24 data file 
data_file24 = pd.read_csv('./dsa-airflow/data/FY24Goals.csv', header=0, encoding = 'latin-1')

FY24_df= pd.DataFrame(data_file24)

display(FY24_df.head(5))

   Goal ID                                             Goals
0   403183  Implement Megas team and secure agreements and...
1   403183  Implement Megas team and secure agreements and...
2   403184  Update the fleet and facilities plan and ensur...
3   403184  Update the fleet and facilities plan and ensur...
4   403185  Develop short and medium term workforce planni...

In [55]:
# Combine all 3 dataframes into 1 data frame
Goals_df = pd.concat([FY22_df2,FY23_df2,FY24_df], axis=0)

display(Goals_df.head(5))

   Goal ID                                              Goals Goals
0   332816   Support achievement of zero engineering emplo...    NaN
1   332818   Respond to emergencies with engineering suppo...    NaN
2   332819   Achieve core budget spend plan within +/ 10% ...    NaN
6   333060     Obtain spending within 10% of monthly forecast    NaN
7   333061  Complete capital projects within 10% of availa...    NaN